body {
  font-family: system-ui;
}

.calendar-view .month-container {
  display: grid;
  grid-template-columns: 0.25fr repeat(7, 1fr);
  max-width: 930px;
}

.calendar-view .month-week-day,
.calendar-view .month-week-number {
  border-left: 1px solid lightgray;
  border-top: 1px solid lightgray;
}

.calendar-view .month-container,
.calendar-view .week-container {
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.calendar-view .month-week-number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.calendar-view .month-week-day {
  min-height: 2em;
  height: calc(100vw / 7.75);
  max-height: 120px;

  text-align: right;
  color: gray;
  padding: 5px;
  box-sizing: border-box;
}

.calendar-view .month-week-day--other-month {
  color: lightgray;
}

.calendar-view .month-week-day--current-day {
  background-color: rgb(232, 243, 232);
  color: darkgreen;
}
.calendar-view .month-week-day--header {
  color: white;
  border-color: transparent;
  background-color: #7bc1ca;
  height: 2em;
  position: sticky;
  top: 0px;
}

.calendar-view .month-week-day--selected-day {
  background-color: #7bc1ca;
}

.calendar-view .month-week-day-event {
  width: 100%;
  border-radius: 3px;
  background-color: #7bc1ca;
  padding: 3px;
  box-sizing: border-box;
  color: white;
  margin-top: 3px;
}

.calendar-view .week-container {
  display: grid;
  grid-template-columns: 50px repeat(7, 1fr);
  height: 100%;
  min-height: 150vh;
  max-width: 930px;
}

.calendar-view .week-day {
  height: 100%;
  border-left: 1px solid lightgray;
  text-align: center;
  background-repeat: repeat;
  background-size: 100% 100px;

  grid-row: 1;
}

.calendar-view .week-day-header {
  position: sticky;
  top: 0;
  background-color: #7bc1ca;
  color: white;
  height: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.calendar-view .week-day-event-container {
  position: relative;
  height: calc(100% - 3em);
  overflow: hidden;
}
.calendar-view .week-day-event {
  width: 100%;
  border-radius: 3px;
  background-color: #7bc1ca;
  padding: 3px;
  box-sizing: border-box;
  color: white;
  position: absolute;
  min-height: fit-content;
}

.calendar-view .week-hour-marker {
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
}
